@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Glegoo);
/* CSS Document */
body {background-color:#000000;} 
#npView{
	top:0px;
	left:0px;
	color:#FFF;
	width:300px;
	height:100px;
	background-color:#333;
}

#currentTitle{
	position:absolute;
	left:20px;
	top:20px;
	font-family:Glegoo;
	font-size:18px;
	width:300px;
	height:24px;
	overflow:hidden;
}
#currentArtist{
	position:absolute;
	left:25px;
	top:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	width:300px;
	height:35px;
	overflow:hidden;
}
